@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    background-color: #82E2AA;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
a.externo::after {
    content: '\00A0\1f517';
}
header {
    background-image: linear-gradient(to bottom, #19CE64, #19CE64, #16B357, #0E773A, #0E773A);
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    height: 175px;
    font-weight: bolder
}
header h1 {
    font-size: 2em;
    text-shadow: 2px 2px 0px #000a0483;
}
header p {
    margin: auto;
    width: 400px;
    padding: 10px;
    text-shadow: 1px 1px 0px #000a0483;
}
main h1 {
    color: #0E773A;
    font-family: 'Android', Arial, Helvetica, sans-serif;
}
nav {
    text-align: left;
}
nav a {
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}
nav a:hover {
    color: #ffffff;
    background-color: #29e47abe;
    border-radius: 5px;
    padding: 5px;
}
main {
    background-color: white;
    color: black;
    text-indent: 1.5em;
    text-align: justify;
    margin: 0 auto;
    height: auto;
    min-width: 320px;
    max-width: 1000px;
    padding: 10px;
    border-radius: 10px;
}

main p {
    margin: 15px 10px;
    line-height: 25px;
}
img {
    width: 100%;
    height: auto;
}
main h2 {
    background-image: linear-gradient(to right, #82e2aac7, #82e2aa85, #82e2aa31);
    color: #0E773A;
    font-size: bold;
    font-family: 'Android', Arial, Helvetica, sans-serif;
}
footer {
    background-color: #0B582B;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
div {
    width: 97%;
    height: auto;
    background-color: #41865eda;
    padding: 8px;
    border-radius: 10px;
    margin: 5px auto;
}

div ul {
    columns: 2;
    list-style-type: '\2714';
}
div a {
    color: #013a19;
    background-color: #5fe79883;
    text-decoration: none;
    border-radius: 3px;
}
div a:hover {
    color: #000a04;
    text-decoration: underline;
}
div h3 {
    background-color: #013a19;
    color: white;
    font-family: "Bebas Neue", Times, serif;
    padding: 5px;
    margin: -8px -8px 0px -8px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 10px;
    font-size: 20px;
}
