@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('truetype');
}


body {
    background-color: #82E2AA;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
header {
    background-image: linear-gradient(to bottom, #19CE64, #19CE64, #16B357, #0E773A, #0E773A);
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 1em;
}
header h1 {
    font-size: bold;
}
main h1 {
    color: #0E773A;
    font-family: 'Android', Arial, Helvetica, sans-serif;
}
nav {
    text-align: left;
}
nav a {
    margin: 5px;
    text-decoration: none;
    color: white;

}
nav a:hover {
    color: #ffffff;
    background-color: #29e47abe;
    border-radius: 5px;
    padding: 5px;
}
main {
    background-color: white;
    color: black;
    text-indent: 1em;
    text-align: justify;
    margin: 0 auto;
    height: auto;
    min-width: 320px;
    max-width: 1000px;
    padding: 10px;
    border-radius: 10px;
}
img {
    width: 100%;
    height: auto;
}
main h2 {
    background-image: linear-gradient(to right, #82e2aac7, #82e2aa85, #82e2aa31);
    color: #0E773A;
    font-size: bold;
    font-family: 'Android', Arial, Helvetica, sans-serif;
}
footer {
    background-color: #0B582B;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
div {
    width: 97%;
    height: auto;
    background-color: #457c5cd0;
    padding: 8px;
    border-radius: 5px;
    margin: 5px auto;
}
div a {
    color: #013a19;
    background-color: #5fe79883;
    text-decoration: none;
}
div a:hover {
    color: #000a04;
    text-decoration: underline;
}
#titulodiv {
    background-color: #0B582B;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0;
}
