@charset "UTF-8";

body {
    background-color: rgb(168, 127, 73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: blueviolet;
    background-color: lightblue;
}
h2 {
    color: brown;
}
p {
    text-align: justify;
}
